@import '../../styles/abstracts/index';

.btn {
  min-width: 100px;
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 25px;
  // background-color: $btn-bg;
  border-width: 1px;
  border-style: solid;
  @include flex(center, center);
  letter-spacing: 0.5px;
  transition:
    all 0.2s ease-in-out,
    border-width 0s;

  > a {
    // @include text($btn-text-primary, 600, 16px);
    letter-spacing: 0.5px;
  }
  &--primary {
    // border-color: $btn-border-primary;
    // @include text($btn-text-primary, 600, 16px);

    &:hover {
      border-width: 2px;
      // background-color: $btn-primary-bg-active;
    }
  }

  &--secondary {
    // border-color: $btn-border-secondary;
    // @include text($btn-text-secondary, 600, 16px);

    &:hover {
      border-width: 2px;
      // background-color: $btn-secondary-bg-active;
    }
  }

  &--contained {
    // background-color: $btn-contained-bg;
    // @include text($white, 600, 16px);

    // &:hover {
    //   background-color: $btn-contained-bg-active;
    // }
  }

  &--sm {
    height: 32px;
    padding: $spacing * 1.5 $spacing * 4;
  }
  &--md {
    height: 40px;
    padding: 0 $spacing * 4;
  }
  &--lg {
    height: 52px;
    padding: 0 $spacing * 6;
  }
}
