$themes: (
  light: (
    input-bg: $light-gray,
    input-bg-active: $white,
    input-label: $black,
    input-label-active: $purple,
    input-label-error: $red,
    input-border: $light-gray,
    input-border-active: $purple,
    input-border-error: $red,
    input-bg-error: $light-red,
  ),
  dark: (
    input-bg: $light-gray,
    input-bg-active: $white,
    input-label: $black,
    input-label-active: $purple,
    input-label-error: $red,
    input-border: $light-gray,
    input-border-active: $purple,
    input-border-error: $red,
    input-bg-error: $light-red,
  ),
);
