button {
  min-width: 11.6rem;
  height: 4.2rem;
  border-radius: 999999px;
  border: 0.2rem solid;
  border-color: transparent;
  @include text($btn-text, 600, 1.2rem);
  @include breakpoint(md) {
    font-size: 1.6rem;
    height: 5.6rem;
  }
  @include flex(center, center);
  cursor: pointer;
  background-color: $btn-bg;
  padding: 1.8rem 3.2rem;
  // > a {
  //   @include text($btn-text, 600, 1.6rem);
  //   @include flex(center, center);
  //   width: 100%;
  //   height: 100%;
  // }
  svg {
    margin-right: 0.8rem;
    fill-opacity: 1;
    > * {
      fill: $btn-text;
    }
  }

  &:hover {
    background-color: $btn-bg-active;
    border-color: $btn-border-active;
    color: $btn-text-active;

    > a {
      color: $btn-text-active;
    }
    svg > * {
      fill: $btn-text-active;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $btn-bg-disabled;
    color: $btn-text-disabled;
    border-color: transparent;
    > a {
      cursor: not-allowed;
      color: $btn-text-disabled;
    }
    svg > * {
      fill: $btn-icon-disabled;
    }
  }

  &:disabled:hover {
    border-color: $btn-border-disabled-active;
    > a {
      color: $btn-text-disabled;
    }
    svg > * {
      fill: $btn-icon-disabled;
    }
  }
}
