button {
  min-width: 13.4rem;
  height: 5.6rem;
  border-radius: 999999px;
  border: 0.2rem solid;
  border-color: transparent;
  padding: 1.8rem 3.2rem;
  @include text(null, 600, 1.6rem);
  @include flex(space-between, center);
  cursor: pointer;
  @include themed() {
    background-color: t(btn-bg);
    color: t(btn-text);
  }
  svg {
    margin-right: 0.8rem;
    fill-opacity: 1;
    > * {
      @include themed() {
        fill: t(btn-text);
      }
    }
  }

  &:hover {
    @include themed() {
      background-color: t(btn-bg-active);
      border-color: t(btn-border-active);
      color: t(btn-text-active);
      svg > * {
        fill: t(btn-text-active);
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    @include themed() {
      background-color: t(btn-bg-disabled);
      color: t(btn-text-disabled);
      border-color: t(btn-border-disabled-active);
      svg > * {
        fill: t(btn-icon-disabled);
      }
    }
  }

  &:disabled:hover {
    @include themed() {
      border-color: t(btn-border-disabled-active);
      svg > * {
        fill: t(btn-icon-disabled-active);
      }
    }
  }
}
