.globy__header {
  z-index: 100;
  position: relative;
  &__navbar {
    padding: 3.5rem;
    @include box(100%, 8.6rem);
    @include flex(left, center);
    @include breakpoint(md) {
      height: $header-height;
      justify-content: center;
      padding: 0;
    }
    > a {
      position: relative;
      @include box(7rem, 2.8rem);
      @include breakpoint(md) {
        @include box(15.6rem, 5.8rem);
      }
    }
  }
}
