.globy__header {
  z-index: 100;
  position: relative;
  padding: 8rem 0px;
  &__navbar {
    @include flex(left, center);
    @include breakpoint(lg) {
      justify-content: center;
      padding: 0;
    }
    > a {
      position: relative;
      @include box(7rem, 2.8rem);
      @include breakpoint(lg) {
        @include box(15.6rem, 5.8rem);
      }
    }
  }
}
