@use '../../abstracts' as *;

.globy__header {
  z-index: 1000;
  position: relative;
  padding: 2.9rem 3.4rem;
  width: 100%;
  &__navbar {
    position: relative;
    z-index: 1;
    height: 8.3rem;
    padding: 0;
    @include flex(center, center);
    @include breakpoint(lg) {
      height: 21.8rem;
    }

    @include breakpoint(md) {
      height: 12rem;
    }

    > a {
      position: relative;
      display: contents;
      @include box(7rem, 2.8rem);
      @include breakpoint(md) {
        @include box(8.5rem, 3.2rem);
      }
      @include breakpoint(lg) {
        @include box(15.6rem, 5.8rem);
      }
    }
  }
}
