$circle-1: 110rem;
$circle-2: 145rem;
$circle-3: 64rem;
.globy__hero {
  padding: 8rem 0;
  position: relative;
  .circle:nth-child(1) {
    right: -$circle-1 / 2;
    top: -$circle-1 / 2;
    @include box($circle-1, $circle-1);
  }

  .circle:nth-child(2) {
    left: -$circle-2 / 2;
    top: -$header-height;
    @include box($circle-2, $circle-2);
  }
  .circle:nth-child(3) {
    right: 2%;
    bottom: 10%;
    @include box($circle-3, $circle-3);
  }

  @include grid(1fr, repeat(2, 1fr), 0);
  .intro {
    margin: 8rem auto;
    max-width: 100rem;
    width: 100%;
    @include flex(center, center, column);
    &__heading {
      text-align: center;
      background: $intro-liner-gradient;
      -webkit-background-clip: text;
      background-clip: text;
      span {
        color: orange !important;
      }
      @include text(transparent, 800, 8rem);
      line-height: 1.2;
      margin-bottom: 3.2rem;
    }
    &__subtitle {
      max-width: 61rem;
      width: 100%;
      text-align: center;
      @include text($text-secondary, 500, 2.4rem);
      margin-bottom: 3.2rem;
    }

    &__get-intro {
      margin-bottom: 3.2rem;
      @include flex(center, center);
      color: $text-secondary;
      svg {
        margin-right: 0.8rem;
      }
    }
  }

  .benefits {
    width: 100rem;
    margin: 8rem auto;
    @include grid(repeat(2, 1fr), auto, 0);
    @include breakpoint(md) {
      @include grid(repeat(4, 1fr), auto, 0);
    }
    gap: 2.4rem;
    max-height: 27rem;
    &__items {
      height: 27rem;
      width: 100%;
      padding: 0 1.6rem;
      text-align: center;
      &__title {
        @include text($text-secondary, 500, 2.4rem);
        margin: 2rem 0;
      }

      &__content {
        padding: 0.8rem;
        text-align: center;
        text-wrap: wrap;
        @include text($benefit-item-content, 400, 1.6rem);
      }
    }
  }

  .dots {
    @include flex(space-between, center, column);
    height: 8.6rem;
    &__items {
      background-color: $text-secondary;
      border-radius: 50%;
      @include box(0.7rem, 0.7rem);
      &:nth-child(2) {
        @include box(1.2rem, 1.2rem);
      }
      &:nth-child(3) {
        @include box(2.4rem, 2.4rem);
      }
    }
  }
}
