.globy__how-it-works {
  padding: 8rem 0;

  @include breakpoint(lg) {
    padding-bottom: 20rem;
  }
  margin: 0 auto;
  position: relative;
  max-width: 136rem;
  @include flex(center, center, column, 0);

  @include breakpoint(lg) {
    gap: 4rem;
  }
  &.divider {
    &::after {
      z-index: 10;
    }
  }
  .circle:nth-child(1) {
    left: 70%;
    top: 5%;
    width: 100%;
    aspect-ratio: 1 / 1;
    @include breakpoint(lg) {
      max-width: 105rem;
    }
  }
  .circle:nth-child(2) {
    right: 50%;
    top: -50%;
    width: 48rem;
    aspect-ratio: 1 / 1;
    @include breakpoint(md) {
      width: 60rem;
      top: -10%;
      left: -10%;
      right: unset;
      display: block;
    }
  }

  &__chat-history {
    position: relative;
    z-index: 1;
    margin-top: 20rem;
    @include breakpoint(lg) {
      margin-top: 34em;
    }
    @include flex(null, center, column);
    align-self: stretch;
    .how-to-work__bg {
      position: absolute;
      left: 50%;
      top: 5%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      max-height: 50rem;
      opacity: 0.6;
      > img {
        position: relative;
      }
      @include breakpoint(lg) {
        width: 136rem;
        max-height: 90rem;
      }
    }
    .conversation {
      width: 100%;
      position: relative;
      height: 79rem;
      &__screen-bg {
        display: block;
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 30rem;
        height: 50rem;
        @include breakpoint(md) {
          width: 53rem;
        }
        @include breakpoint(lg) {
          height: 90rem;
          width: 110rem;
        }
        > img {
          position: relative;
        }
        &::after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2rem;
          z-index: 10;
          background-color: $app-bg;
          box-shadow: 0 0 2rem 2rem $deep-space-blue;
          @include breakpoint(lg) {
            box-shadow: 0 0 2rem 15rem $deep-space-blue;
          }
        }
      }
      .chat {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        z-index: 10;
        @include flex(center, flex-start, column, 3.2rem);
        padding: 4rem 0;
        max-width: 29rem;
        width: 100%;
        @include breakpoint(md) {
          max-width: 37rem;
          bottom: -5%;
        }
        @include breakpoint(lg) {
          bottom: -20%;
          max-width: 72rem;
        }
        &__question {
          margin: 0 auto;
          background-color: $white;
          border-radius: 2.4rem;
          box-shadow: $shadow;
          width: 100%;
          padding: 1.2rem;
          position: relative;
          @include flex(null, flex-start, column, 2.4rem);
          @include breakpoint(md) {
            padding: 2.2rem 2rem;
          }
          @include breakpoint(lg) {
            padding: 4.4rem 4rem;
            gap: 3.2rem;
          }

          &__globy {
            position: relative;
            padding: 0 1.2rem;
            @include breakpoint(lg) {
              padding: 0 2.6rem;
            }
            .avatar {
              top: -0.5rem;
              left: -0.5rem;
              @include breakpoint(lg) {
                top: -1.2rem;
                left: -2rem;
              }
            }
            &__heading {
              padding-left: 1.6rem;
              margin-bottom: 1.6rem;
              @include breakpoint(lg) {
                padding: 0;
              }
              @include flex(space-between, center);
              > strong {
                flex: 1;
                @include text($cadet-gray, 500, 1rem);
                @include breakpoint(md) {
                  font-size: 1.2rem;
                  line-height: 1.9rem;
                }
                @include breakpoint(lg) {
                  font-size: 1.6rem;
                  line-height: 1.9rem;
                }
              }
              .dot-process-bar {
                height: 1.2rem;
                width: 7.4rem;
                @include flex(space-between, center);
                @include breakpoint(lg) {
                  width: 18rem;
                }
                .dot-process-bar__dots {
                  @include box(0.4rem, 0.4rem);
                  border-radius: 50%;
                  border: 1px solid $purple;
                  &.done {
                    background-color: $purple;
                  }

                  &.current {
                    @include box(0.8rem, 0.8rem);
                    @include breakpoint(lg) {
                      @include box(1.2rem, 1.2rem);
                    }
                  }

                  @include breakpoint(lg) {
                    @include box(0.8rem, 0.8rem);
                    @include box(0.8rem, 0.8rem);
                  }
                }
              }
            }
            &__greeting {
              font-size: 1.4rem;
              line-height: 2rem;
              font-weight: 700;
              font-style: italic;
              word-break: break-all;
              @include breakpoint(md) {
                line-height: 4rem;
                font-size: 1.6rem;
                line-height: 1.8rem;
              }
              @include breakpoint(lg) {
                line-height: 4rem;
                font-size: 3.8rem;
              }
            }
          }

          &__customer {
            position: relative;
            width: 100%;
            & .message {
              .avatar {
                top: -2rem;
                left: 0rem;
                @include breakpoint(md) {
                  left: -1rem;
                }
                @include breakpoint(lg) {
                  left: -2rem;
                }
              }
              svg {
                transform: scale(1);
              }
              @include breakpoint(lg) {
                svg {
                  transform: scale(1.5);
                }
              }
              height: 5.6rem;
              padding: 0.8rem 0.8rem 0.8rem 4rem;
              @include breakpoint(md) {
                padding-left: 2rem;
                height: auto;
              }
              @include breakpoint(lg) {
                padding: 1.6rem 1.6rem 1.6rem 4.2rem;
              }
              &__content {
                position: relative;
                word-break: break-all;
                width: fit-content;
                max-width: 85%;
                @include flex(space-between, center);
                &::after {
                  content: '';
                  position: absolute;
                  right: -0.4rem;
                  width: 0.1rem;
                  height: 2.7rem;
                  top: 50%;
                  transform: translateY(-50%);
                  background-color: $white;
                }
              }
            }
          }
        }
        &__history {
          max-width: 30rem;
          width: 100%;
          margin: 0 auto;
          padding: 0 1rem;
          position: relative;
          @include flex(center, center, column, 8rem);
          @include breakpoint(md) {
            max-width: 37rem;
            padding: 1rem;
            gap: 10rem;
          }
          @include breakpoint(lg) {
            max-width: 80rem;
            padding: 3.2rem;
          }
          &__quote-message {
            position: relative;
            width: 100%;
            padding: 0 2rem;
            .message {
              border-radius: 1.6rem;
              max-width: 17.5rem;
              @include breakpoint(md) {
                max-width: 20rem;
              }
              @include breakpoint(lg) {
                max-width: 47rem;
              }
              svg {
                margin: unset;
              }
              .avatar {
                right: 97%;
              }
              &--globy {
                gap: -10px;
                .avatar {
                  right: 98%;
                }
              }

              &--customer {
                position: absolute;
                right: 0;
                margin-left: auto;
                max-width: 18rem;
                top: 90%;
                @include breakpoint(md) {
                  max-width: 20rem;
                }
                @include breakpoint(lg) {
                  top: 85%;
                  max-width: 45.4rem;
                }
              }
            }

            &:nth-child(2) {
              margin-bottom: 5rem;
              .message--globy {
                max-width: 22rem;
                @include breakpoint(md) {
                  max-width: 30rem;
                }
                @include breakpoint(lg) {
                  max-width: 64rem;
                }
              }

              .message--customer {
                @include breakpoint(md) {
                  max-width: 22rem;
                }
                @include breakpoint(lg) {
                  max-width: 46.6rem;
                }
                p {
                  width: 100%;
                  border-radius: 0.8rem;
                  background-color: transparent;
                  padding: 0.6rem 1.2rem;
                  height: 2.2rem;
                  margin-bottom: 0.8rem;
                  border: 0.1rem solid $border-primary;
                  position: relative;
                  @include text($text-primary, 400, 1.2rem);
                  @include flex(left, center);
                  opacity: 0.6;
                  @include breakpoint(lg) {
                    font-size: 1.6rem;
                    height: 3.6rem;
                  }
                  &::after {
                    content: '';
                    position: absolute;
                    left: 0.8rem;
                    width: 0.1rem;
                    height: 70%;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $white;
                  }
                }
                .alternatives {
                  @include flex(left, flex-start, row, 0.5rem);
                  > span {
                    width: fit-content;
                    border-radius: 0.8rem;
                    padding: 0.5rem;
                    height: 4.4rem;
                    @include flex(center, center);
                    background-color: $white;
                    box-shadow: 4px 4px 0px 0px #00000040;
                    @include text($purple, 700, 1rem, 1.2rem);
                    border: 0.1rem solid $border-primary;
                    word-break: break-word;
                    &:nth-child(1) {
                      line-height: 1.6rem;
                    }
                    @include breakpoint(lg) {
                      width: 50%;
                      text-wrap: nowrap;
                      font-size: 1.6rem;
                      padding: 0.6rem 1.2rem;
                    }
                  }
                }
              }
            }
            &:nth-child(3) {
              .message {
                height: 5.8rem;
                background: transparent;
                @include breakpoint(lg) {
                  height: 8.6rem;
                }
                &:nth-child(2) {
                  .avatar {
                    display: none;
                  }
                }
                border: 0.2rem solid $border-primary;
                .avatar {
                  background: transparent;
                  right: 102%;
                  border: 0.2rem solid $border-primary;
                  img,
                  svg {
                    display: none;
                  }
                }

                &--customer {
                  top: 85%;
                }
              }
            }
          }
        }
      }

      .presentation {
        max-width: 80rem;
        width: 100%;
        margin: 0 auto;
        padding-top: 3.2rem;
        position: relative;
        z-index: 10;
        @include flex(center, center, column);
        @include breakpoint(lg) {
          padding-top: 3.2rem;
        }
        &__content {
          width: 100%;
          text-align: center;
          text-wrap: nowrap;
          font-style: italic;
          margin-bottom: 3.2rem;
          max-width: 32rem;
          @include text($text-primary, 600, 1.3rem);
          @include breakpoint(md) {
            font-size: 1.6rem;
            max-width: unset;
          }
          @include breakpoint(lg) {
            font-size: 2.4rem;
          }
          > span {
            text-wrap: wrap;
          }
        }
      }
    }
  }
}
