.join {
  width: 100%;
  position: relative;
  padding: 8rem 6.3rem;
  max-width: 46rem;
  @include breakpoint(md) {
    padding: 8rem 0;
  }
  @include flex(center, center, column);
  .heading {
    font-size: 2.6rem;
    line-height: 3.2rem;
    text-align: left;
    margin-bottom: 0.4rem;
    padding: 0;
    height: 5.3rem;
    line-height: 2.6rem;
    max-width: 46rem;

    @include breakpoint(md) {
      margin-bottom: 0.8rem;
      font-size: 4.8rem;
      height: 9.8rem;
      line-height: 4.8rem;
    }
  }
  &__subtitle {
    margin-bottom: 3.2rem;
    @include text($text-primary, 400, 1rem);
    @include breakpoint(md) {
      font-size: 1.6rem;
    }
  }

  .sign-up-form {
    width: 100%;
    &__error-message {
      @include text($text-error, 400, 1.2rem);
      @include breakpoint(lg) {
        font-size: 1.6rem;
      }
      margin-bottom: 2.4rem;
      text-align: center;
    }
    &__message {
      @include text($text-primary, 600, 1.6rem);
      @include breakpoint(lg) {
        font-size: 2rem;
      }
      margin-bottom: 2.4rem;
      text-align: center;
    }
    .textfield {
      margin-bottom: 0.8rem;
    }
    button {
      margin-top: 2.4rem;
      width: 100%;
    }
  }
}
