.message {
  width: 100%;
  border-radius: 999999px;
  padding: 2.4rem;
  position: relative;
  @include flex(space-between, center);
  background-color: $message-bg-globy;
  &__content {
    width: fit-content;
  }

  svg {
    margin-left: auto;
  }

  &--globy {
    @include text($text-primary, 400, 1.6rem);
  }
  &--customer {
    @include text($text-secondary, 400, 1.6rem);
    background-color: $message-bg-customer;
  }

  .bold {
    font-weight: 600;
  }
}

.avatar {
  position: absolute;
  top: 0;
  right: 98%;
  z-index: 10;
  border: 0.1rem solid $border-primary;
  @include box(4rem, 4rem);
  @include flex(center, center);
  border-radius: 50%;
  box-shadow: $shadow;
  background-color: $gray-100;
  svg > * {
    fill: $text-primary;
  }
  &.lg {
    border-width: 0.2rem;
    @include box(5.6rem, 5.6rem);
  }
}
