.message {
  width: 100%;
  border-radius: 999999px;
  padding: 2.4rem;
  position: relative;
  @include flex(justify-between, center);
  @include themed() {
    background-color: t(message-bg-globy);
  }
  &__content {
    width: fit-content;
  }

  svg {
    margin-left: auto;
  }

  &--globy {
    @include themed() {
      background-color: t(message-bg-globy);
      @include text(t(text-primary), 400, 1.6rem);
    }
  }
  &--customer {
    background-color: $purple;
    @include themed() {
      @include text(t(text-secondary), 400, 1.6rem);
      background-color: t(message-bg-customer);
    }
  }

  .bold {
    font-weight: 600;
  }
}

.avatar {
  position: absolute;
  top: 0;
  right: 98%;
  z-index: 10;
  border: 0.1rem solid $white;
  @include box(4rem, 4rem);
  @include flex(center, center);
  border-radius: 50%;
  box-shadow: $drop-shadow;
  background-color: $gray-100;
  svg > * {
    fill: $black;
  }
  &.lg {
    border-width: 0.2rem;
    @include box(5.6rem, 5.6rem);
  }
}
