.message {
  width: 100%;
  padding: 1.2rem 1.5rem;
  position: relative;
  border-radius: 999999px;
  @include flex(left, center);
  @include text(null, 400, 1.1rem, 1.3rem);
  svg {
    margin-left: auto;
    transform: scale(0.7);
    @include breakpoint(lg) {
      transform: scale(1);
    }
  }

  &--globy {
    color: $text-secondary;
    background-color: $message-bg-globy;
  }
  &--customer {
    color: $text-primary;
    background-color: $message-bg-customer;
  }

  .bold {
    font-weight: 700;
  }

  @include breakpoint(lg) {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 2.4rem;
  }
}

.avatar {
  position: absolute;
  top: 0;
  right: 95%;
  z-index: 10;
  border: 0.1rem solid $border-primary;
  @include box(2.6rem, 2.6rem);
  @include breakpoint(lg) {
    @include box(4rem, 4rem);
  }
  @include flex(center, center);
  border-radius: 50%;
  box-shadow: $shadow;
  background-color: $gray-100;
  svg > * {
    fill: $text-secondary;
  }
  &.lg {
    border-width: 0.2rem;
    @include box(3.7rem, 3.7rem);
    @include breakpoint(lg) {
      @include box(5.6rem, 5.6rem);
    }
  }
}
