.sign-up {
  width: 100%;
  position: relative;
  padding: 8rem 4.5rem;
  @include breakpoint(md) {
    padding: 8rem 0;
  }
  max-width: 46rem;
  width: 100%;
  margin: 0 auto;

  .heading {
    font-size: 3.2rem;
    text-align: center;
    line-height: 3.2rem;
    height: 9.8rem;
    margin-bottom: 0.8rem;
    @include breakpoint(md) {
      font-size: 4.8rem;
    }
  }
  &__subtitle {
    @include text($text-primary, 400, 1.2rem);
    margin-bottom: 3.2rem;
    @include breakpoint(md) {
      font-size: 1.6rem;
    }
  }

  &__form {
    &__message {
      @include text($text-primary, 400, 2.2rem);
      margin-bottom: 2.4rem;
      text-align: center;
    }
    .textfield {
      margin-bottom: 0.8rem;
    }

    button {
      margin-top: 2.4rem;
      width: 100%;
    }
  }
}
