.textfield {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  &__container {
    position: relative;
    .textfield__icons {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 1.6rem;
      top: 1.6rem;
      z-index: 1;
      svg > * {
        fill-opacity: 1;
      }
    }
    input {
      background-color: $input-bg;
      width: 100%;
      outline: 0;
      border-radius: 1.2rem;
      border: 0.2rem solid;
      height: 5.6rem;
      display: block;
      padding: 2.2rem 1.6rem 1.8rem;
      padding-left: 5.6rem;
      @include text($text-secondary, 500, 1.6rem);
      border-color: transparent;
      &:not(:disabled):focus,
      &:not(:disabled):focus-within,
      &:not(:disabled):hover {
        border-color: $input-border-active;
        ~ .textfield__label {
          top: 5%;
          transform: translateY(0);
          transform: scale(0.75);
          p {
            color: $input-label-active;
          }
        }
      }
    }

    .textfield__label {
      pointer-events: none;
      position: absolute;
      padding: 0 0.2rem;
      top: 50%;
      transform: translateY(-50%) scale(1);
      left: 5.6rem;
      transform-origin: top left;
      transition: all 0.2s ease-out;
      p {
        height: 100%;
        width: 100%;
        @include flex(left, center);
        @include text($input-label, 400, 1.6rem);
        @include breakpoint(lg) {
          font-size: 2rem;
        }
      }
    }
  }
  &.error {
    .textfield__container {
      .textfield__icons {
        svg > * {
          fill: $input-label-error !important;
        }
      }
      input {
        background-color: $input-bg-error !important;
        border-color: $input-border-error !important;
        &:focus-within,
        &:hover {
          border-color: $input-label-error !important;
        }
      }
      .textfield__label {
        p {
          color: $input-label-error !important;
        }
      }
    }
  }

  &.filled {
    .textfield__container {
      input {
        border-color: $input-border;
        background-color: $input-bg;
        border-color: $input-border-active;
      }
      .textfield__label {
        top: 5%;
        transform: translateY(0);
        transform: scale(0.75);
        p {
          color: $input-label-active;
        }
      }
    }
  }
  &__error {
    @include flex(left, center);
    @include text($input-error-message, 400, 1.4rem);
    svg {
      margin-right: 0.2rem;
      width: 1.1rem;
      height: 1.1rem;
      > * {
        fill: $input-error-message !important;
      }
    }
  }
}
