@use '../../../abstracts' as *;

.sign-up-form {
  width: 100%;
  @include flex(center, center, column, 0.8rem);
  &__error-message {
    margin-bottom: 2.4rem;
    text-align: center;
    @include text($text-error, 400, 1.2rem);
    @include breakpoint(lg) {
      font-size: 1.6rem;
    }
  }
  &__message {
    margin: 2.4rem 0;
    @include flex(center, center, column, 0.4rem);
    > strong {
      font-weight: 700;
      @include text($text-primary, 600, 1.6rem);
      @include breakpoint(md) {
        font-size: 2rem;
      }
      @include breakpoint(lg) {
        font-size: 2.8rem;
      }
    }
    > small {
      text-align: center;
      @include text($text-primary, 600, 1.4rem);
      @include breakpoint(lg) {
        font-size: 1.6rem;
      }
    }
  }

  button {
    margin-top: 1.2rem;
    width: 100%;
    z-index: 0;

    @include breakpoint(lg) {
      margin-top: 2.4rem;
    }
  }
}
