@mixin themed() {
  @each $theme, $map in $themes {
    .#{$theme} & {
      $theme-map: () !global; // Initialize the theme map for the current theme

      @each $key, $value in $map {
        // Merge each key-value pair into the theme map
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content; // Insert the content that will use this theme map
      // Optionally clear the theme-map after use
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
