@import '../../styles/abstracts/index';
.text-field {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  position: relative;

  input {
    width: 100%;
    height: 42px;
    padding: 14px 16px 0 10px;
    outline: 0;
    font-size: 16px;
    border: 2px solid;
    border-radius: 4px;
    border-color: transparent;
    @include themed() {
      background-color: t(input-bg);
    }
    &:focus,
    &:focus-within,
    &:hover {
      @include themed() {
        border-color: t(input-border-active);
        background-color: t(input-bg-active);
      }
      + label {
        transform: translate(0, 20%) scale(0.75);
        p {
          @include themed() {
            color: t(input-label-active);
          }
        }
      }
    }
  }

  label {
    padding: 0 12px;
    color: black;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 50%) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
    p {
      height: 100%;
      width: 100%;
      @include flex(left, center);
      font-size: 2rem;
    }
  }
  &.error {
    input {
      @include themed() {
        background-color: t(input-bg-error) !important;
        border-color: t(input-border-error) !important;
      }
      &:focus-within,
      &:hover {
        @include themed() {
          border-color: t(input-label-error) !important;
        }
      }
    }
    label {
      p {
        @include themed() {
          color: t(input-label-error) !important;
        }
      }
    }
  }

  &.filled {
    input {
      @include themed() {
        border-color: t(input-border);
        background-color: t(input-bg);
      }
      &:focus,
      &:focus-within,
      &:hover {
        @include themed() {
          border-color: t(input-border);
          background-color: t(input-bg);
        }
        + label {
          transform: translate(0, 20%) scale(0.75);
        }
      }
      + label {
        transform: translate(0, 20%) scale(0.75);
        p {
          @include themed() {
            color: t(input-label);
          }
        }
      }
    }
  }
  &__error {
    @include flex(left, center);
    // @include text($error, 400, 14px);
    letter-spacing: 0.8px;
    svg {
      // fill: $error;
      // margin-right: $spacing * 2;
      // path {
      //   fill: $error;
      //   stroke: $error;
      // }
    }
  }
}
