* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset,
figure {
  outline: none;
  overflow: hidden;
  border: none;
}

input,
textarea {
  outline: none;
  border: none;
}

label {
  display: block;
}
