.heading {
  margin: 0 auto;
  text-align: center;
  @include text($text-primary, 800, 4rem, 4.8rem);
  width: 100%;
  font-style: italic;
  margin-bottom: 6.5rem;
  @include breakpoint(md) {
    margin-bottom: 4.8rem;
    max-width: 78rem;
    font-size: 8rem;
    line-height: 7.7rem;
  }
}

.divider {
  &::after {
    content: '';
    width: 71rem;
    height: 0.1rem;
    border-bottom: 0.1rem solid $divider;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

.circle {
  background: $circle-gradient;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
